/* Main Font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body,h1,h2,h3,h4,h5,h6,p,span,a,li{
    font-family: 'Raleway', sans-serif;
}


/* default css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul{
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/* responsive css */
@media (max-width:1000px){
    .offers .offer-box .offer-info h3 {
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: .7em;
    }
}



@media(max-width:991px){
    
}
/* first menu*/
header{
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}
.left-text{
    width: 83%;
}
.left-text p{
    font-size: 14px;
    margin-bottom: 0;
    
}
.right-menu{
    width: 17%;
}
.right-menu ul{
    margin-bottom: 0;
    font-size: 14px;
}
.right-menu ul li{
    position: relative;
    cursor: pointer;
}
.right-menu ul li ul {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: -29px;
	top: 143%;
	background: #000;
	width: 130px;
	border-top: 1px solid #fff;
    opacity: 0;
    visibility: hidden;
    transition: .3s;

    transform: scaleY(0);
    transform-origin: top center;
}
.right-menu ul li ul li{
    border-bottom: 1px solid #ddd;
}
.right-menu ul li ul li a{
    display: block;
    color: #fff;
    text-align: center;
   
    
}

/* flag menu */
.lang{
    cursor: pointer;
    position: relative;
}
.lang::before {
	content: '';
	display: inline-block;
	width: 30px;
	height: 13px;
	background-image: url(./img/tn_fr-flag.gif);
	border-image-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: -39px;
	top: 5px;
}
/* menu hover */
.right-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
/* main menu */
.navigation .navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}

.navigation .navbar {
    padding: 0;
}

.navigation {
    background-color: white;
}

.navigation .navbar-light .navbar-nav .nav-item.active .nav-link,
.navigation .navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #f74c70;
}

.i-con{
    display: inline-block;
    font-size: 25px;
    font-weight: 200;
}
/* dropdown menu */
.navbar .navbar-nav .nav-item{
    display: block;
    position: relative;
}

.navbar .navbar-nav .nav-item ul{
    
    width: 200px;
    text-align: center;
    background-color: #fff;
    border-radius: 4px 12px 0 12px;
    border-top: 10px solid #f74c70;
    border-bottom: 10px solid #f74c70;
    left: 20px;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
    transition: .3s;
    position: relative;
}
.navbar .navbar-nav .nav-item > ul::before {
	content: "";
	top: -18px;
	left: 0%;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 10px 15px;
	border-color: transparent transparent #f74c71 transparent;
}

.navbar .navbar-nav .nav-item ul li{
    border-bottom: 1px solid #f74c70;
}
.navbar .navbar-nav .nav-item ul li:hover > a{
    color: #f74c70;
}
.navbar .navbar-nav .nav-item ul li:last-child{
    border-bottom: none;
}
.navbar .navbar-nav .nav-item ul li a{
    display: block;
    padding: 10px 10px;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}
/* hover part */
.navbar .navbar-nav .nav-item:hover  ul {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    
}
/* sub drop down menu */
.navbar .navbar-nav .nav-item ul li{
    position: relative;
    display: block;
    
}
.navbar .navbar-nav .nav-item ul li  ul.sub-menu {
	left: 201px;
	top: -10px;
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left center;
    transition: .3s;
    

   


}

.navbar .navbar-nav .nav-item ul li:hover ul.sub-menu{
    visibility: visible;
    opacity: 1;
    transform: scaleX(1);
}


/*offer hover part */
.offers{
    margin-top: 80px;
}
/* hover shning par */
.offers .offer-box .offer-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    z-index: 2;
    background: -webkit-linear-gradient(to right, rgba(255,255,255,0)0%,rgba(255, 255, 255, 0.3) 100%) ;
    background: linear-gradient(to right, rgba(255,255,255,0)0%,rgba(255, 255, 255, 0.3) 100%) ;
    transform: skewX(-25deg);
}
.offers .offer-box .offer-img img{
    transform: scale(1.02);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.offers .offer-box .offer-img.size img{
    height: 255px;
}

.offers .offer-box:hover .offer-img::before{
    animation: shining 2s;
    animation-iteration-count: infinite;
}
@keyframes shining{
    100%{
        left: 150%;
    }
}
/* black overlay */
.offers .img-overlay::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.4) ;
    z-index: 1;
}
/*offer info text overlay */
.offers .offer-box .offer-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 250ms ease-out;
    color: #fff;
}
.offers .offer-box .offer-info .italic-text-p {
	font-family: "WendyLPStd-Medium";
	font-size: 35px;
	margin-bottom: 0;
	line-height: 1.2em;
	margin-top: 38px;
}
.offers .offer-box .offer-info h3 {
	font-size: 23px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .8em;
}
.offers .offer-box .offer-info .bottom-margin{
    position: relative;
}
.offers .offer-box .offer-info .bottom-margin::after {
	content: "";
	position: absolute;
	top: 31px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 40px;
	height: 1px;
	background: #fff;
	margin: auto;
}
.offers .offer-box .offer-info p:last-child {
	font-size: 13px;
	text-transform: uppercase;
	margin-top: 23px;
	font-weight: 400;
}
.offers .offer-box .offer-info p small > span {
	display: inline-block;
	position: relative;
	left: 0px;
	top: 1px;
}
/* special offer */

.special-offer .offer-title h2{
    font-size: 33px;
    font-weight: 700;
    position: relative;
    margin-left: 50px;
}
.special-offer .offer-title h2::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -50px;
	bottom: auto;
	width: 40px;
	height: 2px;
	background: #000;
	margin: auto;
}
.special-offer .s-offer-items{
    height: 250px;
    box-shadow: 3px 4px 30px rgba(98, 120, 223, .2);
}
.special-offer .s-offer-items .s-offer-img{
    width: 40%;
    overflow: hidden;
    
}
.special-offer .s-offer-items .s-offer-img img{
    height: 100%;
    width: auto;
    max-width: inherit;
    position: relative;
    left: -30px;
}
.special-offer .s-offer-items .s-offer-img.image1 img{
    position: relative;
    left: -20px;
    
}  
.special-offer .s-offer-items .s-offer-content{
    width: 60%;
}
.special-offer .s-offer-items .s-offer-content h4 {
	font-size: 17px;
	font-weight: 500;
}
.special-offer .s-offer-items .s-offer-content p{
    font-size:18px ;
    font-weight: bold;
    color: #f74c70;
    font-style: italic;
    

}
.special-offer .s-offer-items .s-offer-content del{
    color: #ddd;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    font-style: italic;
    margin-right: 5px;

}
.special-offer .s-offer-items .s-offer-content ul li{
    display: inline-block;
    font-size: 13px;
    color: #ddd;
}

.add-card-btn .buttn{
    
    color: #fff;
    background-color: #f74c70;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    text-transform: uppercase;
    transition: .4s;
    font-size: 15px;
    text-decoration: none;

}
.ss-offers:hover .add-card-btn .buttn{
    opacity: 1;
    visibility: visible;
} 
.ss-offers{
    border-bottom: 1px solid #ddd;
    transition: .2s;
}
.ss-offers:hover{
    box-shadow: 3px 4px 30px rgba(98, 120, 223, .4);
}
/* price style */


.price-style2 small{
    display: inline-block;
    position: relative;
    top: -2px;
}


/* icons style */
.special-offer .s-offer-items ul.icons-item{
    margin-top: 40px;
    
    
}
.special-offer .s-offer-items ul.icons-item li{
    display: inline-block;
    border: 2px solid #000;
    margin-right: 10px;
    text-align: center;
    
   
    

}
.special-offer .s-offer-items ul.icons-item li a{
    display: inline-block;
    font-size: 18px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #000;
    font-weight: 300;
    /* border: 2px solid #000; */
    
}
.special-offer .s-offer-items ul.icons-item li a:hover{
    color: #fff;
    background-color: #f74c70;
}
/* testomonial carousel */


.carousel-control.left,
.carousel-control.right{
    background: transparent; 
}
.imgBox {
	width: 100px;
	height: 100px;
	margin: auto;
	border: 5px dashed #262626;
	border-radius: 50%;
	overflow: hidden;
}
.imgBox img{
    width: 100%; 
}
.carousel-inner {

    background: #000;
	padding: 45px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}
.carousel-caption{
    position: static;
    padding-bottom: 15px;
    padding-top: 0;
}
.carousel-caption h3 {
	font-size: 30px;
	margin-bottom: 15px;
	margin-top: 25px;
	font-family: 'Allura', cursive;
	color: #fff;
	text-shadow: none;
}
.carousel-caption h4 {
	color: #fff;
	text-shadow: none;
}
.carousel-caption p {
	font-size: 14px;
	margin: auto;
	width: 70%;
	margin-bottom: 10px;
	/* font-family: 'Teko', sans-serif; */
	font-weight: 400;
	letter-spacing: 2px;
	text-shadow: none;
	color: #fff;
    margin-top: 20px;
}
.carousel-indicators li {
	background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 0;
    margin-right: 5px ;
    margin-left: 5px;
}
.carousel-indicators{
    margin: 0 auto;
}
.carousel-control{
    color: #2b2626;
}
.carousel-indicators .active {
	background-color: #f74c70;
}        
.carousel-indicators {
	bottom: 10px;
}
/* blog section */
.blog-section .offer-title h2{
    font-size: 33px;
    font-weight: 700;
    position: relative;
    margin-left: 67px;
}
.blog-section .offer-title h2::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -50px;
	bottom: auto;
	width: 40px;
	height: 2px;
	background: #000;
	margin: auto;
}
.blog-slider{
    position: relative;
}
.blog-slider .priv-arrow {
	position: absolute;
	top: -55px;
	right: 130px;
	color: rgb(182, 182, 182);
	font-size: 25px;
	display: inline-block;
	cursor: pointer;
}
.blog-slider .next-arrow {
	position: absolute;
	top: -55px;
	right: 110px;
	color: rgb(182, 182, 182);
	font-size: 25px;
	display: inline-block;
	cursor: pointer;
    font-weight: 200 !important;
}

/* blog slider content */
.blog-section .blog-slider .slider-content{
    padding: 25px 0;
}
.blog-section .blog-slider .slider-content h3{
    font-size: 18px;
    font-weight:  600;
    color: #000;
    margin-bottom: 10px;

}
.blog-section .blog-slider .slider-content ul li{
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: rgb(146, 145, 145);
    font-weight: 400;


}
.blog-section .blog-slider .slider-content ul li span{
    display: inline-block;
    margin-right: 10px;
}
.blog-section .blog-slider .slider-content p{
    font-size: 14px;
    font-weight: 500;
    color: #2b2626;
    margin-bottom: 15px;
}
.blog-section .blog-slider .slider-content a{
    display: inline-block;
    font-size: 14px;
    color: #f74c70;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}
.blog-section .blog-slider .slider-content a:hover{
    letter-spacing: 2px;
}

/* explore section */
.explore{
    background: #000;
    color: #fff;
}

.explore .explore-caption h2{
    color: #fff;
    font-size: 25px;
    margin-bottom: 15px;
}
.explore .explore-caption h2 span{
    display: inline-block;
    color: #f74c70;
}
.explore .explore-caption p {
	color: rgb(66, 58, 58);
	font-size: 15px;
	margin-bottom: 33px;
}
/* deafult animation button */
.bttn{
    position: relative;
    display: inline-flex;
    padding: 10px 30px;
    font-size: 15px;
    border: 2px solid #fff;
    text-decoration: none !important;
    color: #fff !important;
    letter-spacing: 1px;
    overflow: hidden;
    margin-left: 7px;
    margin-right: 7px;
    text-transform: uppercase;
    font-weight: 500;
}
.bttn span{
    position: relative;
    z-index: 1;
}
.bttn::before{
    content: "";
    position: absolute;
    top:  var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    background: #f74c70;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}
.bttn:hover:before {
    width: 300px;
    height: 300px;
}
/* clients section  */
.clients{
    border-bottom: 1px solid #ddd;
}
.box {
display: flex;
align-items: center;
justify-items: center;
width: 60%;
height: auto;    
transition: transform .5s ease-in;
margin: 8px auto;
}

.box img {
max-width: 100%;
max-height: 100%;
width: 100%;
}

.box:hover {
transform: scale(1.2);
}
/* footer section */

.footer-section .f-item h5{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold ;
    margin-bottom: 25px;
}
.footer-section .f-item  ul li span{
    display: inline-block;
    font-size: 11px;
}
.footer-section .f-item  ul li{
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: rgb(110, 110, 110);
    margin-bottom: 15px;
}
.footer-section .f-item .tps-item .tps-img img{
    width: 50px;
    margin-right: 15px;
}
.footer-section .f-item .tps-item{
    position: relative;
    top: -10px;
}
.footer-section .f-item .tps-item .tps-text p{
    font-size: 12px;
    color: rgb(110, 110, 110);
    font-weight: 600;


}
.footer-section .f-item .tps-item  a{
    font-size: 12px;
    color: rgb(110, 110, 110) !important;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;


}
.footer-section .f-item ul li a{
    font-size: 12px;
    color: rgb(110, 110, 110) !important;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;


}
.footer-section .f-item ul li span{
    display: inline-block;
    margin-right: 10px;
}
.top-footer{
    border-bottom: 1px solid #ddd;
}
/* bottom footer */
.bottom-footer .b-footer-item h5{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold ;
    
}
.bottom-footer .b-footer-item p{
    font-size: 12px;
    font-weight: 600;
    color: rgb(110, 110, 110);
    
}
.bottom-footer .b-footer-item ul li{
    display: inline-block;
    font-size: 30px;
    margin-right: 10px;
}
.bottom-footer .b-footer-item .default-input{
    position: relative;
    padding: 20px 15px;
    box-sizing: border-box;
    font-size: 13px;
    border: 2px solid #ddd !important;

}
.bottom-footer .b-footer-item .default-input:focus{
    border: 2px solid #f74c70 !important;
    box-shadow: 0 5px 20px rgba(247, 76, 112,0.1) !important;
    
}

.bottom-footer .b-footer-item .envelap {
	position: absolute;
	right: 6%;
	font-size: 16px;
	top: 9%;
    color: #f74c70;
}
/* modal popup css */
/* footer section */

.launch {
    height: 50px
}

.close {
    font-size: 21px;
    cursor: pointer
}

.modal-body {
    height: 450px
}

.nav-tabs {
    border: none !important
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff #ffffff #fff;
    border-top: 3px solid blue !important
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-top: 3px solid #eee;
    font-size: 20px
}

.nav-tabs .nav-link:hover {
    border-color: #e9ecef #ffffff #ffffff
}

.nav-tabs {
    display: table !important;
    width: 100%
}

.nav-item {
    display: table-cell
}

.form-control {
    border-bottom: 1px solid #eee !important;
    border: none;
    font-weight: 600
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none
}

.inputbox {
    position: relative;
    margin-bottom: 20px;
    width: 100%
}

.inputbox span {
    position: absolute;
    top: 7px;
    left: 11px;
    transition: 0.5s
}

.inputbox i {
    position: absolute;
    top: 13px;
    right: 8px;
    transition: 0.5s;
    color: #3F51B5
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.inputbox input:focus~span {
    transform: translateX(-0px) translateY(-15px);
    font-size: 12px
}

.inputbox input:valid~span {
    transform: translateX(-0px) translateY(-15px);
    font-size: 12px
}

.pay button {
    height: 47px;
    border-radius: 37px
}